@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: grid;
    grid-template-rows: auto 1fr auto; /* Três linhas, com altura automática para o nav e footer */
    grid-template-areas:
        "nav" 
        "main" 
        "footer"; 
    height: 100vh; 
}

/* Links da navbar */
.link-navbar {
    color: #000;
    text-decoration: none;
    position: relative;
    display: inline-flex;
}

.link-navbar::before{
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 2.5px;
    background-color: #ffaa00c4;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: right;
    transition: scale 0.35s;
}

/*efeito ao passar o mouse nos links*/
.link-navbar:hover::before{
    scale: 1;
    transform-origin: left;
}

/* Efeito ao passar o mouse sobre as palavras */

/* Gestão */

.span-gestao{
    position: relative;
    display: inline-flex;
}

.span-gestao::before{
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 2.5px;
    background-color: #ff8100;
    border-radius: 4px;
    scale: 1 4;
    z-index: -1;
    transform-origin: top;
    transition: scale 1s;
}

.span-gestao:hover::before{
    scale: 1 10;
    transform-origin: bottom;
}

/* Todas as palavras */

.span {
    position: relative;
    display: inline-flex;
}

.span::before{
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: 2.5px;
    background-color: #ff8100;
    border-radius: 4px;
    scale: 1 4;
    z-index: -1;
    transform-origin: top;
    transition: scale 1s;
}

.span:hover::before{
    scale: 1 10;
    transform-origin: bottom;
}

/*configuração da logo na navbar*/
.logo{
    background-image: url('../icones/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 7vh;
    width: 116px;
}
/*navbar container, definições de altura, posição, cor e etc*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background: #fff;
    height: 10vh;
    box-shadow: 0px 0px 3px rgba(112, 112, 112, 0.603);
    padding: 5px;
}
/*lista contida na navbar, sem efeitos de lista na tag <ul>*/
.navbar-list{
    list-style: none;
    display: flex;
}
/*caracteristicas da lista na tag <li>*/
.navbar-list li{
    letter-spacing: 0.5px;
    margin-left: 32px;
    font-size: 16px;
}

.navbar-list li:last-child{
    margin-right: 15px;
}

.header {
    grid-area: nav;
    /* background-color: lightblue;  */
}

.main {
    grid-area: main; 
    /* background-color: lightgreen;  */
    padding: 16px; 
}

.footer {
    grid-area: footer; 
    /* background-color: lightcoral;  */
    padding: 16px; 
}


/* Botão do whatsapp acompanhando body  */

.button-whatsapp-container{
    width: 50px;
    height: 50px;
    margin-top: 40%;
    margin-left: 92%;
    border-radius: 50%;
    box-shadow: 0px 0px 6px #e39d2ded;
    background-image: url('../icones/WHATSAPP.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;
    position: fixed;
    z-index: 5;
    animation: pular 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
} 

.button-whatsapp-container:hover{
    box-shadow: 0px 0px 10px #e39d2ded;
    cursor: pointer;
    width: 60px;
    height: 60px;
    animation: none;
}

@keyframes pular {
    from{
        transform: translate3d(0,0,0);
    }
    to{
        transform: translate3d(0,-15px,0);
    }
    
}

/*  INICIO DO CONTEÚDO DO SITE*/
.intro-container{
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    animation: up 2s 1;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.chamada-container{
    width: 45%;
    height: 65%;
    margin: 5px;
    text-align: justify;
    line-height: 30px;
}

/* Animação do carregamento da página da classe .introcontainer  */

@keyframes up {
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* Ajustes de margens e tamanho de textos */
.chamada-container > p{
    margin-top: 15px;
    font-size: 1.1em;
}

.chamada-container > h1{
    margin-top: 80px;
}

/* CONFIGURAÇÃO DO VÍDEO */
.video-container{
    margin: 35px auto;
    width: 51%;
    height: 75vh;
}

.video-container > iframe{
    box-shadow: 0px 0px 1px black;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

/* CONFIGURAÇÃO DO BOTÃO */
.btn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button-landingpage{
    margin: auto;
    width: 115%;
    height: 7vh;
    font-size: 20px;
    padding: 5px;
    background-color: #ffaa00c4;
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
}

.button-landingpage:hover{
    background-color: #fff;
    color: #ffaa00c4;
    border: 1px solid #ffaa00c4;
    box-shadow: none;
    cursor: pointer;
}

/* CONTAINER O QUE É O SISTEMA APOLO */
.sistema-container{
    display: flex;
    top: 35px;
    width: 85%;
    height: 50vh;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

.sistema-container-txt{
    display: inline-block;
    width: 50%;
    height: 50vh;
    text-align: justify;
    padding: 10px;
}

.sistema-container-txt > h1{
    margin: 5px;
    line-height: 50px;
}

.sistema-container-txt > p{
    font-size: 1.2em;
    line-height: 25px;
}

.sistema-container-img{
    width: 50%;
    height: 50vh;
}

.sistema-container-img > img{
    width: 100%;
    height: 46vh;
}


/* DIV O SISTEMA FUNCIONA PARA MIM E PARA QUEM É INDICADO */
.sistema-funcionaparamim-container{
    display: flex;
    width: 85%;
    height: 64vh;
    margin: 35px auto;
    padding: 5px;
}

.h1-funcionaparamim-container{
    margin-top: 85px;
    text-align: center;
    width: 100%;
}

.pq-sistema-funcionaparamim-container{
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    height: 99%;
    font-size: 1.2em;

}

.pq-sistema-funcionaparamim-container-img{
    display: block;
    background: url('../icones/satisfação\ -\ Copia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin-top: 10px;
    border-radius: 5px;
}

.motivos-do-sistema-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    width: 50%;
    padding: 10px;
}

.motivos-do-sistema-container > p{
    font-size: 1.4em;
    display: none;
}


/* Cards com motivos do sistema */
.cards-motivos-do-sistema{
    width: 49%;
    padding: 10px;
    height: 19vh;
    margin: 1px;
}

.cards-motivos-do-sistema > p{
    position: relative;
    text-align: justify;
    left: 57px;
    top: -60px;
    width: 80%;
}


/* CONTAINERS COM ARGUMENTOS PARA USO */
.cards-convencimento-container{
    margin: 85px 100px;
    height: auto;
    width: 85%;
    padding: 15px;
    display: inline-flex;
    flex-wrap: wrap;
}

.cards-container{
    width: 49%;
    position: relative;
    margin: 5px;
    height: 35vh;
}

.cards-container > img{
    display: inline-flex;
    width: 80px;
    height: 80px;
}

.cards-container > h3{
    position: relative;
    top: -45px;
    left: 15px;
    display: inline-flex;
}


.cards-container > p {
    font-size: 1.1em;
    position: relative;
    text-align: justify;
    left: 98px;
    width: 75%;
    bottom: 35px;
}
/* LISTA DE MOTIVOS PARA VOCÊ QUE DESEJA */
.pra-voce-que-deseja-container{
    margin: 35px auto;
    padding: 15px;
    width: 85%;
    border-bottom: 1px solid #0000001f;
    border-top: 1px solid #0000001f;
}

.pra-voce-que-deseja-h1-container{
    text-align: center;
    font-size: 1.2em;
}

.pra-voce-que-deseja-list-container{
    margin: 30px;
    text-align: center;
}

.pra-voce-que-deseja-item-container{
    text-align: center;
    width: 650px;
    margin: auto;
}

.pra-voce-que-deseja-list-container > ul,li{
    margin: 5px;
    text-align: justify;
    font-size: 1.1em;
}

.pra-voce-que-deseja-list-container > ul{
    list-style-image: url('../icones/1.png');
}

.pra-voce-que-deseja-item-container > li > p{
    bottom: 15px;
    position: relative;
}

/* VANTAGENS DE SER CLIENTE CARDS */

.vantagens-cliente-container{
    width: 90%;
    height: auto;
    margin: 85px auto;
    padding: 15px;
    /* display: inline-flex; */
}

.h1-vantagens-cliente-container{
    width: auto;
    margin: auto;
    margin-bottom: 35px;
    bottom: 10px;
    display: table;
}

.cards-container-servicos{
    display: inline-flex;
    width: 45%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #d86722;
    height: 33vh;
    margin: 20px;
    padding: 15px;
    transition: 0.5s;
    opacity: 1;
}

.cards-container-servicos:hover{
    width: 46%;
    height: 34vh;
}

.cards-container-servicos:not(.cards-container-servicos:hover){
    opacity: 0.8;
}

.cards-container-servicos > img{
    position: relative;
    display: inline-flex;
    top: 30px;
    width: 80px;
    height: 80px;
}

.cards-container-servicos > h3{
    position: relative;
    left: 30px;
    height: 7vh;
    width: auto;
    display: inline-flex;
}

.cards-container-servicos > p{
    position: relative;
    text-align: justify;
    top: 25px;
    left: -10px;
    display: inline-flex;
}


/* WILLIAN */

/* Configurando tamanho de divs */
.eventoDiv {
    display: flex;
    margin: auto;
    width: 85%;
    height: 70vh;
    margin-top: 20px;
}

.iframeDiv {
    width: 60%;
    margin-right: 5px;
}

/* Configurando h3 da div Iframe */
.iframeDiv > h3 {
    text-align: center;
    background-color: #211e2d;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    width: 100%;
    color: #D5B35D;
}

/* Configurando tamanho de video */
.video {
    width: 100%;
    height: 92%;
}

/* Configurando tamanho do iframe */
.video > iframe {
    width: 100%; /* Define a largura do vídeo como 100% */
    height: 100%; /* Define a altura do vídeo como 100% */
    object-fit: cover;
    border-radius: 0px 0px 15px 15px;
}

/* Configurando div lateral */
.mentoriaDiv {
    text-align: center;
    background-color: #ffaa00c4;
    border-radius: 10px;
    width: 36%;
    padding: 0px 10px 20px 0px;
    margin-left: 5px;
}

.mentoriaDiv h2{
    width: 85%;
    margin: auto;
    padding: 20px 0px 20px 0px;
    text-align: justify;
}

.mentoriaDiv p{
    width: 85%;
    margin: auto;
    padding: 10px 0px 20px 0px;
    text-align: justify;
    font-size: 1.1em;
}

/* Css das parcelas para compra do produto */
.parcelasDiv {
    margin: 70px auto;
    text-align: center;
    width: 100%;
}

.parcelasDiv > h2 {
    margin: 10px;
}

.parcelasDiv > h1 {
    color: #C5A56C;
    margin-top: 5px;
    font-size: 3em;
}

.parcelasDiv > h1 > span {
    font-size: 0.6em;
    color: black;
}

.parcelasDiv > p{
    font-size: 1.5em;
    margin: 20px;
}

.parcelasDiv > button {
    margin-bottom: 60px;
}

/* Css da caixa preta pontilhada */
.caixaDiv {
    text-align: justify;
    margin: 85px auto;
    width: 85%;
    color: white;
    background-color: #313131;
    border-radius: 20px;
    padding: 40px;
    border: 2px dashed gray;
}

.caixaDiv > h2 {
    margin-bottom: 20px;
}

.caixaDiv > p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Configurando css da div assinatura */
.assinaturaDiv {
    text-align: center;
    margin: 85px auto;
    padding: 15px;
    border-top: 1px solid #00000036;
    border-bottom: 1px solid #00000036;
    width: 85%;
}

.assinaturaDiv > h1 {
    font-size: 2.5em;
    color: #BC9D65;
    word-wrap: break-word;
    text-align: center;
    width: 75%; 
    margin: 40px auto;
}

.assinaturaDiv > p {
    font-size: 1.3em;
    margin: 40px auto;
    width: 75%;
    margin-top: 20px;
}

/* CSS Perguntas frequentes */

.perguntas-frequentes{
    width: 70%;
    margin: 35px auto;
    padding: 25px;
}

.perguntas-frequentes > h1{
    text-align: center;
    margin-bottom: 50px;
}

.perguntas-frequentes-details{
    padding: 25px;
    border: 1px solid;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
}

.perguntas-frequentes-details > p{
    margin: 20px;
}

/* CSS Quem somos? */
.quemsomos-container{
    width: 90%;
    height: 80vh;
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quemsomos_img{
    width: 49%;
    height: 70vh;
    background-image: url('../icones/tiago-tessmann-foto.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.quemsomos_p{
    width: 49%;
    height: 70vh;
    padding: 10px;
    line-height: 2;
    display: grid;
    align-items: center;
    align-content: center;
}

/* CSS dos Depoimentos com vídeo  */

.depoimento-section {
    background-color: #f7f7f7;
    padding: 40px 20px;
    text-align: center;
    border-radius: 15px;
    width: 90%;
    margin: 85px auto;
  }
  
  .depoimento-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  
  .depoimento {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 5px;
    width: 275px;
  }

  .depoimento > img {
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #7898e89b;
  }

  .depoimento p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  } 

  .depoimento > video {
    width: 100%;
    border-radius: 5%;
  }
  
  .client-name {
    font-style: italic;
  }

  /* CSS depoimento com texto */

  .depoimento-text {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 5px;
    width: 270px;
  }

  .depoimento-text > img {
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #7898e89b;
  }

  .depoimento-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  } 
  
  /* CSS footer da página */

  .footer{
    display: flex;
    background-color: #da842e;
    height: 45vh;
    margin-top: 35px;
    padding: 45px;
    color: white;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;


    transition: transform 0.5s ease-in-out;
    transform: translateY(50px);
  }

  .footer.visible {
    transform: translateY(0);
  }

  /* CSS logo */

  .logo-footer{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 33vh;
    background-image: url('../icones/logo\ branca.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* CSS Links de retorno */

  .pagina{
    border-right: 1px solid;
    width: 15%;
    padding: 15px;
    height: 30vh;
  }

  .list-link{
    margin-top: 15px;
    left: 5px;
  }

  .pagina-link{
    list-style: none;
    margin-top: 15px;
  }

  .pagina-link > a{
    color: white;
    position: relative;
    text-decoration: none;
  }

  .pagina-link>a:hover{
    top: -2px;
  }

  /* CSS das redes sociais */
  .redes-sociais{
    height: 30vh;
    width: 20%;
    padding: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .redes-sociais > h2{
    margin-bottom: 35px;
  }

  .redes-sociais > ul{
    display: inline-flex;
    list-style: none;
  }

  .redes{
    width: 50px;
    height: 50px;
    padding: 5px;
    position: relative;
  }

  .link > img{
    width: 40px;
    height: 40px;
  }

  .redes:hover{
    top:-2px;
  }

  /* CSS botão footer */
  .btn-footer{
    margin-top: 25px;
    width: 70%;
    height: 5vh;
    border-radius: 25px;
  }

  .button-footer{
    width: 95%;
    height: 6vh;
    border-radius: 25px;
    border: none;
    font-size: 1em;
    color: white;
    background-color: #f9d5766b;
    transition: .2s;
  }

  .button-footer:hover{  
    width: 98%;
    cursor: pointer;
  }

  .redes > a:hover{
    width: 115px;
    height: 50px;
  }


  /* CSS localização */
  .localizacao{
    width: 22%;
    height: 30vh;
    padding: 15px;
    border-right: 1px solid;
  }

  .localizacao-h2{
    margin-bottom: 25px;
    display: inline-flex;
  }

  .localizacao-h2 > img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }

  .localizacao > a{
    color: white;
    text-decoration: none;
    position: relative;
    transition-delay: 0.9s;
  }

  .localizacao > a:hover{
    top: -5px;
    box-shadow: 0px 0px 2px 0px yellow;
  }

  .localizacao > a > p{
    margin: 5px;
    font-size: 1.2em;
  }

  /* CSS footer bar */
  .footer-bar{
    width: 100%;
    height: 5vh;
    border-top: 1px solid #f9d5766b;
    background-color: #da842e;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
  }

  /* Configurações para animação das divs */
  .animar {
    transition: transform 0.5s ease-in-out;
    transform: translateY(50px);
  }

  .animar.visible {
    transform: translateY(0);
  }

   /* RESPONSIVIDADE PARA PEQUENAS TELAS */

   @media (min-width: 320px) and (max-width: 600px){
    .container {
        box-sizing: border-box;
        /* overflow-x: hidden; */
    }

    .header {
        width: 100%;
    }

    .navbar-list {
        display: none;
    }

    .main {
        width: 100%;
    }

    .button-whatsapp-container {
        display: none;
    }

    .intro-container {
        display: grid;
        grid-template-rows: auto auto;
        width: 100%;
        margin: auto;
        height: auto;
        /* min-height: 830px; */
        padding: 10px;
        padding-bottom: 10px;
        /* background-color: #211e2d; */
    }

    .video-container {
        order: 1;
        width: 100%;
        height: 100%;
      }
    
    .chamada-container {
        order: 2;
        width: 100%;
        height: auto;
        margin: auto;
        /* background-color: blue; */
      }


    .chamada-container > p{
        width: 90%;
        margin: auto;
        font-size: 1rem;
        text-align: justify;
        text-indent: 10px;
    }
    
    .chamada-container > h1{
        width: 90%;
        margin: auto;
        padding: 20px 0px 15px 0px;
        text-align: center;
        font-size: 1.3rem;
    }

    .btn {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 10px;
        justify-content: center;
        align-content: center;
        /* background-color: #000; */
    }

    .button-landingpage{
        margin: auto;
        width: 100%;
        font-size: 1.2rem;
        padding: 5px;
        background-color: #ffaa00c4;
    }

    .sistema-container {
        display: grid;
        grid-template-rows: auto auto;
        /* min-height: 320px; */
        width: 100%;
        height: auto;
        margin: 0px;
        padding-bottom: 10px;
        /* background-color: #211e2d; */
    }

    .sistema-container-txt {
        order: 1;
        width: 100%;
        margin: auto;
        height: auto;
        text-align: justify;
    }

    .sistema-container-txt > h1 {
        font-size: 1.3rem;
        text-align: center;
        padding-bottom: 10px;
    }

    .sistema-container-txt > p {
        font-size: 1rem;
    }

    .sistema-container-img{
        display: none;
        margin-bottom: 20px;
        order: 2;
        width: 100%;
        height: 20vh;
        margin-bottom: 100px;
        background-color: #BC9D65;
    }
    
    .sistema-container-img > img{
        display: flex;
        margin: auto;
        width: 100%;
        height: 100%;
    }

    .h1-funcionaparamim-container {
        display: flex;
        width: 100%;
        margin-top: 0px;
        margin: 0px auto;
        padding-bottom: 10px;
        /* background-color: #8f2323; */
    }

    .h1-funcionaparamim-container > h1 {
        margin-bottom: 10px;
        width: 100%;
        font-size: 1.3rem;
        margin: 0px auto;
    }

    .sistema-funcionaparamim-container {
        display: grid;
        width: 100%;
        margin: 0px;
        height: auto;
        /* min-height: 900px; */
        padding: 10px 0px;
        grid-template-rows: auto;
        /* background-color: #3b21a1; */
    }

    .pq-sistema-funcionaparamim-container {
        width: 100%;
        margin: 0;
        padding: 10px 0px;
    }

    .pq-sistema-funcionaparamim-container > p {
        order: 1;
        width: 90%;
        margin: 0px auto;
        font-size: 1rem;
        text-align: justify;
        margin-top: 0;
    }

    .pq-sistema-funcionaparamim-container-img {
        order: 2;
        width: 341px;
        height: auto;
        /* height: 150px; */
    }

    .motivos-do-sistema-container {
        order: 3;
        width: 100%;
        height: auto;
        /* min-height: 520px; */
        /* background-color: #a12190; */
        flex-wrap: wrap;
        margin: auto;
        padding: 0px;
    }

    .motivos-do-sistema-container > p{
        display: none;
        font-size: 1rem;
    }

    .cards-motivos-do-sistema {
        display: flex;
        width: 90%;
        padding: 0px;
        margin: 0px;
        height: 10vh;
        font-size: 0.6rem;
    }

    .cards-motivos-do-sistema > img {
        width: 50px;
        height: 50px;
    } 
    
    .cards-motivos-do-sistema > p{
        position: static;
        text-align: justify;
        margin-left: 5px;
    }

    .cards-convencimento-container {
        display: grid;
        grid-template-rows: auto;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 10px 0px;
        border-top: 1px solid #0000001f;
        /* background-color: #3b21a1; */
    }

    .cards-container {
        width: 100%;
        height: auto;
        display: flex;
        margin: auto;
        padding-bottom: 10px;
        /* 
        margin: 0px;
        height: 0px; */
        /* min-height: 200px; */
        font-size: 0.5rem;
        flex-wrap: wrap;
        /* background-color: #8f2323; */
    }

    .cards-container > h3 {
        width: 80%;
        height: auto;
        /* height: 40px; */
        text-align: justify;
        position: static;
        margin-left: 5px;
        font-size: 0.8rem;
        align-items: center;
        padding-bottom: 10px;
    }

    .cards-container > p {
        margin: 0px auto;
        display: inline-block;
        width: 90%;
        position: static;
        font-size: 0.6rem;
        /* background-color: #d1afaf; */
    }

    .cards-container > img {
        width: 30px;
        height: 35px;
        margin-bottom: 5px;
    }
    
    .pra-voce-que-deseja-container{
        margin: 0px;
        padding: 0px;
        width: 100%;
        border-bottom: 1px solid #0000001f;
        border-top: 1px solid #0000001f;
        /* background-color: #211e2d; */
    }

    .pra-voce-que-deseja-h1-container{
        text-align: center;
        width: 95%;
        font-size: 0.5rem;
        margin-top: 10px;
    }

    .pra-voce-que-deseja-list-container{
        margin: 30px 50px;
        text-align: center;
    }

    .pra-voce-que-deseja-item-container > li > p{
        font-size: 0.8rem;
        bottom: 25px;
        position: relative;
    }

    .pra-voce-que-deseja-list-container > ul{
        list-style-image: url('../icones/1.png');
    }

    .pra-voce-que-deseja-item-container{
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .pra-voce-que-deseja-list-container > ul,li{
        margin: 0px;
        text-align: justify;
        font-size: 0.6rem;
    }

    .vantagens-cliente-container {
        display: none;
        grid-template-rows: auto auto;
        width: 100%;
        height: auto;
        margin: 0px;
        background-color: #211e2d;
        flex-wrap: wrap;
    }

    .h1-vantagens-cliente-container {
        font-size: 0.6rem;
        text-align: center;
        width: 95%;
    }

    .cards-container-servicos {
        display: flex;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px #d86722;
        height: auto;
        margin: 0px;
        padding: 0px;
        transition: 0.5s;
        opacity: 1;
        background-color: #8f2323;
    }

    .cards-container-servicos > img {
        width: 45px;
        height: 45px;
    }

    .cards-container-servicos > p {
        width: 100%;
    }

    .cards-container-servicos > h3 {
        width: 100%;
    }

    .eventoDiv {
        grid-template-rows: auto auto;
        width: 100%;
        height: auto;
        /* min-height: 700px; */
        margin: auto;
        margin-top: 10px;
        flex-wrap: wrap;
        padding-bottom: 10px;
        /* background-color: #211e2d; */
    }

    .iframeDiv{
        order: 1;
        width: 100%;
        height: auto;
        /* height: 250px; */
        margin: auto;
        margin: 0px;
    }

    .iframeDiv h3 {
        font-size: 1rem;
    }

    .video {
        width: 100%;
        height: auto;
        /* max-height: 200px; */
    }

    .mentoriaDiv {
        order: 2;
        width: 100%;
        height: auto;
        /* height: 400px; */
        margin: 0px;
        padding: 0px;
    }

    .mentoriaDiv > h2  {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    .mentoriaDiv > p {
        width: 95%;
        font-size: 0.9rem;
    }

    .parcelasDiv {
        display: none;
        width: 100%;
        height: auto;
        margin: auto;
    }

    .parcelasDiv > h2 {
        width: 90%;
        margin: auto;
        font-size: 1.2rem;
    }

    .parcelasDiv > h1 {
        width: 100%;
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }

    .parcelasDiv > p {
        width: 90%;
        margin: auto;
        font-size: 1.1rem;
    }

    .caixaDiv {
        width: 100%;
        margin: 20px 0px 20px 0px;
        padding: 10px 10px;
    }

    .caixaDiv > h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    .caixaDiv > p {
        font-size: 0.9rem;
        text-align: justify;
    }

    .assinaturaDiv {
        width: 100%;
        margin: 10px;
        padding: 10px;
        height: auto;
    }

    .assinaturaDiv h1 {
        font-size: 1.2rem;
        width: 100%;
        margin: 0px;
        padding-bottom: 10px;
    }

    .assinaturaDiv p {
        font-size: 1rem;
        width: 95%;
        margin: auto;
        text-align: justify;
    }

    .perguntas-frequentes {
        width: 100%;
        margin: auto;
        padding: 10px;
    }

    .perguntas-frequentes > h1 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .perguntas-frequentes-details > p {
        text-align: justify;
        margin: 10px 0px;
    }

    .quemsomos-container {
        display: grid;
        grid-template-rows: auto auto;
        width: 100%;
        height: auto;
        margin: auto;
        /* background-color: #211e2d; */
    }

    .quemsomos_img {
        order: 1;
        margin: auto;
        width:300px;
        height: 200px;  
    }

    .quemsomos_p {
        order: 2;
        width: 100%;
        height: auto;
        padding: 0px;
    }

    .quemsomos_p > h1 {
        font-size: 1.4rem;
        text-align: center;
    }

    .quemsomos_p > p {
        font-size: 0.9rem;
        text-align: justify;
    }

    .depoimento-section {
        margin: 0px auto;
    }

    .footer {
        width: 100%;
        height: auto;
        margin: auto;
        flex-wrap: wrap;
        padding: 0px;
    }

    .logo-footer {
        width: 20px;
        height: 20px;
    }

    .pagina {
        width: 40%;
        height: auto;
        border: none;
        padding: 0px;
    }

    .pagina-h2 {
        font-size: 0.5rem;
    }

    .list-link {
        font-size: 0.4rem;
    }

    .localizacao {
        width: 40%;
        height: auto;
        border: none;
        padding: 0px;
    }

    .localizacao-h2 {
        font-size: 0.5rem;
        margin-bottom: 0px;
    }

    .localizacao > a {
        font-size: 0.5rem;
    }

    .redes-sociais {
        width: 100%;
    }

    .redes-sociais > h2 {
        font-size: 0.7rem;
        margin-bottom: 0px;
    }

    .redes-sociais > ul {
        width: 100%;
    }

    .redes {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .redes > a {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer-bar {
        width: 100%;
        height: auto;
        font-size: 0.7rem;
    }

   }

  /* RESPONSIVIDADE PARA TELAS PEQUENAS E LAPTOPS */

  @media (min-width: 768px){
    .button-whatsapp-container{
        margin-top: 550px;
        margin-left: 90%;
    }

    .intro-container {
        padding: 20px;
        margin: 10px auto;
        text-align: center;
        animation: up 2s 1;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .chamada-container > h1 {
        margin-top: 30px;
    }

    .intro-container > .chamada-container {
        width: 80%;
        height: auto;
        margin: 5px;
        text-align: justify;
    }

    .video-container {
        margin: 35px auto;
        width: 80%;
        height: 75vh;
    }

    .sistema-container {
        display: flex;
        top: 35px;
        width: 85%;
        height: 65vh;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .h1-funcionaparamim-container {
        margin-top: 120px;
        text-align: center;
        width: 100%;
    }

    .sistema-funcionaparamim-container {
        display: flex;
        width: 95%;
        height: 64vh;
        margin: 35px auto;
        padding: 5px;
    }

   .sistema-funcionaparamim-container > .motivos-do-sistema-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        width: 59%;
        padding: 0px;
        justify-content: space-between;
    }

    .cards-motivos-do-sistema{
        margin: 7px;
    }

    .cards-convencimento-container{
        width: auto;
    }

    .cards-convencimento-container > .cards-container{
        width: auto;
    }

    .vantagens-cliente-container {
        width: 90%;
        height: auto;
        margin: 85px auto;
        padding: 15px;
    }

    .vantagens-cliente-container > .cards-container-servicos {
        display: inline-flex;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px #d86722;
        height: 28vh;
        width: auto;
        margin: 20px;
        padding: 15px;
        transition: 0.5s;
        opacity: 1;
    }

    .vantagens-cliente-container > .cards-container-servicos:hover {
        height: 29vh;
    }

    .eventoDiv {
        display: flex;
        margin: auto;
        width: auto;
        height: auto;
    }

    .mentoriaDiv{
        width: 50%;
    }

    .iframeDiv{
        width: 50%;
    }

    .quemsomos-container{
        width: auto;
    }

    .quemsomos_img{
        width: 40%;
        height: 40vh;
    }

    .quemsomos_p{
        width: 45%;
        line-height: 1.5;
    }

    .footer{
        font-size: 1em;
    }

    .footer > .logo-footer {
        display: none;
    }

    .footer > .pagina {
        border-right: 1px solid;
        width: 20%;
        /* padding: 15px; */
        height: 35vh;
    }

    .footer > .localizacao {
        width: 33%;
        height: 35vh;
        padding: 15px;
        border-right: 1px solid;
    }

    .footer > .redes-sociais {
        height: 30vh;
        width: 29%;
        display: inline-flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

  }

  /* RESPONSIVIDADE PARA TELAS MAIORES QUE 1024PX*/

@media (min-width: 1024px){

    .link-navbar::before{
        top: 30px;
    }

    .link-navbar{
        font-size: 1.2em;
    }

    .button-landingpage {
        width: 103%;
        height: 8vh;
        font-size: 1.5em;
        padding: 10px;
    }

    .button-whatsapp-container{
        width: 50px;
        height: 50px;
        margin-top: 550px;
        margin-left: 89%;
    }

    .button-whatsapp-container:hover{
        width: 65px;
        height: 65px;
    }

    .intro-container {
        padding: 20px;
        margin: 10px auto;
        text-align: center;
        animation: up 2s 1;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .intro-container > .chamada-container {
        height: 80vh;
        width: 46%;
    }

    .video-container {
        margin: 35px auto;
        width: 48%;
        height: 75vh;
    }

    .chamada-container > h1 {
        margin-top: 30px;
    }

    .chamada-container > p{
        font-size: 1.2em;
        line-height: 1.5;
    }

    .sistema-container {
        display: flex;
        top: 35px;
        width: 90%;
        height: 65vh;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .sistema-container-txt > p{
        font-size: 1.2em;
        line-height: 1.5;
    }

    .sistema-funcionaparamim-container {
        display: flex;
        width: auto;
        height: 65vh;
        margin: 35px auto;
        padding: 5px;
        flex-direction: row;
    }

    .pq-sistema-funcionaparamim-container {
        display: inline-flex;
        width: 50%;
        height: 60vh;
        font-size: 1.2em;
        flex-direction: column;
    }

    .sistema-funcionaparamim-container > .motivos-do-sistema-container {
        display: inline-flex;
        width: 60%;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: row;
    }

    .cards-motivos-do-sistema {
        width: 46%;
    }

    .cards-motivos-do-sistema > p {
        font-size: 1em;
        line-height: 1.3;
    }

    .cards-convencimento-container{
        width: 100%;
        margin: 0px;
    }

    .vantagens-cliente-container {
        width: 100%;
        height: auto;
        margin: 85px auto;
        padding: 15px;
    }

    .cards-convencimento-container > .cards-container{
        height: 35vh;
        width: 45%;
        margin: 22px;
    }

    .cards-container > img {
        display: inline-flex;
        position: relative;
        right: -19px;
        top: 20px;
        width: 60px;
        height: 60px;
    }

    .cards-container > h3{
        font-size: 1em;
        text-align: justify;
        left: 80px;
        top: -35px;
    }
    
    .cards-container > p{
        left: 85px;
        width: 85%;
        top: -30px;
    }

    .pra-voce-que-deseja-item-container{
        width: 100%;
        font-size: 0.8em;
    }

    .pra-voce-que-deseja-h1-container {
        font-size: 0.9em;
    }

    .pra-voce-que-deseja-list-container > ul, li {
        font-size: auto;
    }

    .pra-voce-que-deseja-item-container > li > p{
        bottom: 10px;
        line-height: 2;
        font-size: 1.4em;
    }

    .vantagens-cliente-container > .cards-container-servicos {
        display: inline-flex;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px #d86722;
        height: 39vh;
        width: 48%;
        margin: 8px;
        padding: 15px;
        transition: 0.5s;
        opacity: 1;
    }

    .vantagens-cliente-container > .cards-container-servicos:hover{
        height: 40vh;
    }

    .cards-container-servicos > img {
        position: relative;
        display: inline-flex;
        top: 30px;
        width: 60px;
        height: 60px;
    }

    .cards-container-servicos > h3{
        font-size: 1.2em;
    }

    .cards-container-servicos > p{
        top: 30px;
        line-height: 1.5;
        font-size: 0.9em;
    }

    .eventoDiv{
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: row;
    }

    .mentoriaDiv{
        width: 45%;
        font-size: 1.4em;
        line-height: 1.35;
        height: auto;
    }

    .mentoriaDiv h2{
        font-size: 1em;
    }

    .mentoriaDiv p{
        font-size: 0.9em;
    }

    .iframeDiv{
        margin-right: 0px;
        width: 45%;
        height: auto;
    }

    .parcelasDiv{
        font-size: 1em;
        line-height: 1.5;
    }

    .caixaDiv{
        font-size: 1em;
        line-height: 1.5;
    }

    .assinaturaDiv{
        font-size: 1em;
        line-height: 1.5;
    }
    
    .perguntas-frequentes{
        font-size: 1em;
        line-height: 1.5;
    }

    .quemsomos-container{
        font-size: 1em;
        line-height: 1.5;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .quemsomos_p {
        width: 100%;
    }

    .quemsomos_img{
        width: 75%;
        height: 55vh;
        background-image: url(../icones/tiago-tessmann-foto.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .depoimento-container{
        font-size: 1em;
        line-height: 1.5;
    }

    .depoimento p {
        font-size: 20px;
    }

    .depoimento{
        width: 310px;
    }

    .depoimento-text{
        width: 310px;
    }

    .depoimento-text p {
        font-size: 20px;;
    }

    .footer{
        font-size: 1.2em;
        line-height: 1.5;
        padding: 0px;
    }

    .footer-bar {
        margin-top: 50px;
    }

  }

  /* RESPONSIVIDADE PARA TELAS MAIORES QUE 1440px */

@media (min-width: 1440px){
    .button-whatsapp-container {
        width: 60px;
        height: 60px;
        margin-top: 655px;
        margin-left: 92%;
    }

    .pq-sistema-funcionaparamim-container {
        font-size: 1.4em;
    }

    .h1-funcionaparamim-container{
        margin-top: 150px;
    }
    .sistema-funcionaparamim-container{
        margin-bottom: 120px;
    }

    .cards-motivos-do-sistema > p {
        font-size: 1.3em;
    }

    .cards-container > img {
        top: -10px;
    }

    .cards-container > h3 {
        font-size: 1.4em;
        left: 22px;
        top: -35px;
    }

    .cards-container > p{
        font-size: 1.4em;
    }

    .cards-convencimento-container > .cards-container {
        height: 35vh;
    }

    .sistema-container-txt > p {
        font-size: 1.7em;
    }

    .chamada-container > p {
        font-size: 1.7em;
    }

    .pra-voce-que-deseja-list-container > ul, li{
        font-size: 1.3em;
    }

    .cards-container-servicos > p {
        font-size: 1.4em;
    }

    .mentoriaDiv p {
        font-size: 1.2em;
    }

    .mentoriaDiv h2 {
        font-size: 1.4em;
    }

    .parcelasDiv {
        font-size: 1.4em;
    }

    .caixaDiv {
        font-size: 1.4em;
    }

    .assinaturaDiv {
        font-size: 1.4em;
    }

    .perguntas-frequentes {
        font-size: 1.4em;
    }

    .quemsomos-container {
        font-size: 1.4em;
    }

    /*Configuração footer*/
    .footer {
        font-size: 1.3em;
    }

    .link > img {
        width: 50px;
        height: 50px;
    }
  }

  /* RESPONSIVIDADE PARA TELAS MAIORES QUE 1680px */

@media (min-width: 1680px){

    .intro-container > .chamada-container {
        height: 70vh;
    }

    .button-whatsapp-container {
        margin-top: 750px;
    }

    .sistema-container{
        height: 43vh;
    }

    .sistema-funcionaparamim-container{
        width: 90%;
    }

    .h1-funcionaparamim-container {
        margin-top: 195px;
    }

    .cards-motivos-do-sistema{
        margin: 9px;
    }
    .cards-motivos-do-sistema > p {
        font-size: 1.5em;
        line-height: 1;
    }

    .cards-motivos-do-sistema > p {
        width: 87%;
    }

    .cards-convencimento-container {
        text-align: inherit;
    }

    .cards-container {
        width: auto;
    }

    .cards-container > p {
        font-size: 1.5em;
        left: 120px;
        width: 90%;
    }

    .cards-container > h3 {
        top: -60px;
        left: 35px;
    }

    .cards-container > img{
        width: 70px;
        height: 70px;
    }

    .pra-voce-que-deseja-container {
        margin: auto;
    }

    .pra-voce-que-deseja-h1-container{
        font-size: 1.2em;
    }

    .vantagens-cliente-container > .cards-container-servicos{
        width: 48%;
        margin-left: 17px;
        height: 25vh;
    }

    .vantagens-cliente-container > .cards-container-servicos:hover{
        height: 26vh;
    }

    .cards-container-servicos > p {
        top: 35px;
        line-height: 1.4;
        font-size: 1.2em;
    }

    .eventoDiv {
        width: 95%;
        height: auto;
    }

    .pagina-link {
        margin-top: 5px;
    }

    .footer {
        font-size: 1.5em;
    }

    .footer > .logo-footer {
        width: 20%;
        height: 35vh;
        display: flex;
    }

    .footer > .localizacao{
        width: auto;
    }

    .localizacao > a > p {
        margin: auto;
    }

    .footer-bar{
        margin-top: 35px;
    }
  }

@media (min-width: 1920px){
    .sistema-funcionaparamim-container{
        margin-bottom: 105px;
    }

    .quemsomos-container{
        width: 85%;
    }
}
  