@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: grid;
    grid-template-rows: auto 1fr auto; /* Três linhas, com altura automática para o nav e footer */
    grid-template-areas:
        "nav" 
        "main" 
        "footer"; 
    height: 100vh; 
}

/* Links da navbar */
.link-navbar {
    color: #000;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

.link-navbar::before{
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 2.5px;
    background-color: #ffaa00c4;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: right;
    transition: scale 0.35s;
}

/*efeito ao passar o mouse nos links*/
.link-navbar:hover::before{
    scale: 1;
    transform-origin: left;
}

/* Dropdown dos produtos */

.link-navbar > i{
    margin-top: 5px;
    margin-left: 4px;
}

.menu-hamburger {
    display: none;
    width: 35px;
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 5001;
}

.dropdown-produtos{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1;
}

.dropdown-produtos a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-produtos a:hover {
    background-color: #dddddd;
}
  
.show {
    display: block;
}

/* Efeito ao passar o mouse sobre as palavras */

/* Gestão */

.span-gestao{
    position: relative;
    display: inline-flex;
}

.span-gestao::before{
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 2.5px;
    background-color: #ff8100;
    scale: 1 4;
    z-index: -1;
    transform-origin: top;
    transition: scale 0.3s;
}

.span-gestao:hover::before{
    scale: 1 11;
    transform-origin: bottom;
}

/* Todas as palavras */

.span {
    position: relative;
    display: inline-flex;
}

.span::before{
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: 2.5px;
    background-color: #ff8100;
    scale: 1 4;
    z-index: -1;
    transform-origin: top;
    transition: scale 0.3s;
}

.span:hover::before{
    scale: 1 11;
    transform-origin: bottom;
}

/*configuração da logo na navbar*/
.logo{
    background-image: url('../icones/novos icones/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    height: 7vh;
    width: 116px;
}
/*navbar container, definições de altura, posição, cor e etc*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background: #fff;
    height: 10vh;
    box-shadow: 0px 0px 3px rgba(112, 112, 112, 0.603);
    padding: 5px;
}
/*lista contida na navbar, sem efeitos de lista na tag <ul>*/
.navbar-list{
    list-style: none;
    display: flex;
    align-items: center;
}
/*caracteristicas da lista na tag <li>*/
.navbar-list li{
    letter-spacing: 0.5px;
    margin-left: 32px;
    font-size: 16px;
}

.btn-navbar{
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: orangered;
    color: white;
    width: 100%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
}

.btn-navbar > .link-navbar{
    color: white;
}

.btn-navbar > img{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.header {
    grid-area: nav;
    /* background-color: lightblue;  */
}

.main {
    grid-area: main; 
    /* background-color: lightgreen;  */
    /*padding: 16px; */
}

.footer {
    grid-area: footer; 
    /* background-color: lightcoral;  */
    padding: 16px; 
}


/* Botão do whatsapp acompanhando body  */

.button-whatsapp-container{
    width: 50px;
    height: 50px;
    margin-top: 40%;
    margin-left: 92%;
    border-radius: 50%;
    box-shadow: 0px 0px 6px #e39d2ded;
    background-image: url('../icones/WHATSAPP.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;
    position: fixed;
    z-index: 5;
    animation: pular 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
} 

.button-whatsapp-container:hover{
    box-shadow: 0px 0px 10px #e39d2ded;
    cursor: pointer;
    width: 60px;
    height: 60px;
    animation: none;
}

@keyframes pular {
    from{
        transform: translate3d(0,0,0);
    }
    to{
        transform: translate3d(0,-15px,0);
    }
    
}

/*  INICIO DO CONTEÚDO DO SITE*/
.intro-container{
    margin: 10px auto;
    text-align: center;
    animation: up 2s 1;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.chamada-container{
    width: 35%;
    margin: 50px auto;
    margin-left: 85px;
    text-align: center;
    line-height: 100px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.chamada-container > p{
    text-align: justify;
    width: 90%;
    margin-top: 55px;
}

/* Animação do carregamento da página da classe .introcontainer  */

@keyframes up {
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* Ajustes de margens e tamanho de textos 
.chamada-container > p{
    margin-top: 15px;
    font-size: 1.1em;
}

.chamada-container > h1{
    margin-top: 80px;
}*/

/* CONFIGURAÇÃO DO VÍDEO */
.video-container{
    margin: 0px auto;
    width: 60%;
    height: 80vh;
    background-image: url('../icones/novos icones/background 2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 450px;
}

.video-container > iframe{
    box-shadow: 0px 0px 1px black;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.video-container > img{
    position: relative;
    top: 180px;
    right: 90px;
}

/* CONFIGURAÇÃO DO BOTÃO */
.btn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button-landingpage{
    margin: auto;
    width: 120%;
    height: 8vh;
    font-size: 1.4em;
    padding: 5px;
    background-color: #ffaa00c4;
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
}

.button-landingpage:hover{
    background-color: #fff;
    color: #ffaa00c4;
    border: 1px solid #ffaa00c4;
    box-shadow: none;
    cursor: pointer;
}

/* CONTAINER O QUE É O SISTEMA APOLO */
.sistema-container{
    display: flex;
    top: 35px;
    width: auto;
    height: 60vh;
    margin: auto;
    margin-top: 135px;
    margin-bottom: 135px;
    flex-direction: row-reverse;
    background-image: url('../icones/novos icones/background.png');
    background-position: unset;
    background-repeat: repeat-y;
    background-size: inherit;
    background-position-y: -107px;
    background-position-x: 102px;
}

.sistema-container-txt{
    display: inline-block;
    width: 42%;
    height: 50vh;
    text-align: justify;
    padding: 10px;
}

.sistema-container-txt > h1{
    margin: 5px;
    line-height: 50px;
}

.sistema-container-txt > p{
    font-size: 1.2em;
    line-height: 25px;
}

.sistema-container-img{
    width: 50%;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sistema-container-img > img{
    width: 55%;
    height: auto;
}

/*Solução para o seu negócio*/

.solucao{
    display: flex;
    margin: auto;
    padding: 20px;
    width: 90%;
    height: auto;
    justify-content: space-evenly;
    background-color: #ffaa00c4;
    border-radius: 50px 0px;
}

.solucao_logos{
    display: inline-block;
    margin: 10px;
    height: auto;
}

.solucao_logos > p{
    text-align: center;
    width: 99%;
    height: auto;
}

.solucao_container {
    text-align: center;
    width: 37%;
    height: auto;
    font-size: 1.4em;
    margin: auto;
}

.solucao1_container > h2{
    margin-bottom: 20px;
    height: auto;
}

/*Carrosel Apolo*/

.carrosel {
    width: 55%;
    margin-right: 5px;
    background-image: url('../icones/novos icones/bck_carroseul.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.carrosel > h3 {
    text-align: center;
    background-color: #211e2d;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    width: 100%;
    color: #D5B35D;
}

.carrosel_container > iframe{
    border-radius: 5px;
    width: 68%;
    height: 43vh;
    margin-top: 170px;
    margin-left: 165px;
    box-shadow: -1px -1px 0px 8px;
}

.btn-prev{
    background-image: url('../icones/novos icones/prev-btn2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 5%;
    height: 5vh;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn-next{
    background-image: url('../icones/novos icones/next-btn.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 5%;
    height: 5vh;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 30px;
}

/* DIV O SISTEMA FUNCIONA PARA MIM E PARA QUEM É INDICADO */
.sistema-funcionaparamim-container{
    display: flex;
    width: 85%;
    height: auto;
    /*margin: 200px auto;*/
    padding: 5px;
}

.h1-funcionaparamim-container{
    width: 100%;
    height: auto;
    text-align: initial;
}

.pq-sistema-funcionaparamim-container{
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    font-size: 1.2rem;

}

.pq-sistema-funcionaparamim-container-img{
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 50%;
    height: 70vh;
    border-radius: 5px;
}

.motivos-do-sistema-container{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    padding: 10px;
    justify-content: flex-start;
    align-content: flex-start;
}

.motivos-do-sistema-container > p{
    font-size: 1.4em;
    width: 100%;
    height: auto;
    text-align: justify;
    position: relative;
    top: 20px;
}


/* Cards com motivos do sistema */

.cards-motivos-do-sistema{
    width: 45%;
    height: auto;
    position: relative;
    top: 35px;
    margin: 20px;
    font-size: 0.6rem;
}

.cards-motivos-do-sistema > p{
    position: relative;
    text-align: justify;
    font-size: 1.2rem;
    left: 57px;
    top: -60px;
    width: 80%;
    height: auto;
}

/* CONTAINERS COM ARGUMENTOS PARA USO */
.cards-convencimento-container{
    display: flex;
    margin:auto;
    height: auto;
    width: 85%;
    padding: 0px;
    flex-wrap: wrap;
}

.cards-container{
    width: 100%;
    position: relative;
    margin: auto;
    height: auto;
   
}

.cards-container > img{
    display: inline-flex;
    width: 80px;
    height: 80px;
}

.cards-container > h3{
    position: relative;
    top: -45px;
    left: 15px;
    display: inline-flex;
}


.cards-container > p {
    font-size: 1.1em;
    position: relative;
    text-align: justify;
    left: 98px;
    width: 75%;
    bottom: 35px;
}

/* LISTA DE MOTIVOS PARA VOCÊ QUE DESEJA */
.pra-voce-que-deseja-container{
    margin: 35px auto;
    padding: 15px;
    width: 85%;
    border-bottom: 1px solid #0000001f;
    border-top: 1px solid #0000001f;
}

.pra-voce-que-deseja-h1-container{
    text-align: center;
    font-size: 1.2em;
}

.pra-voce-que-deseja-list-container{
    margin: 30px;
    text-align: center;
}

.pra-voce-que-deseja-item-container{
    width: 100%;
    font-size: 0.8em;
}

.pra-voce-que-deseja-list-container > ul,li{
    margin: 5px;
    text-align: justify;
    font-size: 1.1em;
}

.pra-voce-que-deseja-list-container > ul{
    list-style-image: url('../icones/1.png');
}

.pra-voce-que-deseja-item-container > li > p{
    bottom: 15px;
    line-height: 2;
    position: relative;
}

.btn-contrato{
    width: 40%;
    height: 6vh;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255 94 0);
    color: white;
    font-size: 1.2em;
    margin-top: 55px;
    border: 1px solid rgb(255 94 0);
}

.btn-contrato:hover {
    transition: 0.5s ease-in-out;
    color: rgb(255 94 0);
    background-color: white;
}


/* VANTAGENS DE SER CLIENTE CARDS */

.vantagens-cliente-container{
    width: 90%;
    height: auto;
    margin: 85px auto;
    padding: 15px;
    text-align: center;
}

.h1-vantagens-cliente-container{
    width: auto;
    margin: auto;
    margin-bottom: 35px;
    bottom: 10px;
    display: table;
}

.cards-container-servicos{
    display: inline-block;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #d86722;
    height: 85vh;
    margin: 20px;
    padding: 15px;
    transition: 0.5s;
    opacity: 1;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}

.cards-container-servicos > img{
    position: relative;
    display: inline-flex;
    width: 80px;
    height: 80px;
}

.cards-container-servicos > h3{
    font-size: 2em;
}

.cards-container-servicos > p{
    position: relative;
    text-align: justify;
    top: 25px;
    left: -10px;
    display: inline-flex;
}


/* WILLIAN */

/* Configurando tamanho de divs */
.eventoDiv {
    display: flex;
    margin: 85px auto;
    width: 85%;
    height: 70vh;
    margin-top: 20px;
}

.iframeDiv {
    width: 60%;
    margin-right: 5px;
}

/* Configurando h3 da div Iframe */
.iframeDiv > h3 {
    text-align: center;
    background-color: #211e2d;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    width: 100%;
    color: #D5B35D;
}

/* Configurando tamanho de video */
.video {
    width: 100%;
    height: 92%;

}

/* Configurando tamanho do iframe */
.video > iframe {
    width: 100%; /* Define a largura do vídeo como 100% */
    height: 100%; /* Define a altura do vídeo como 100% */
    object-fit: cover;
    border-radius: 0px 0px 15px 15px;
}

/* Configurando div lateral */
.mentoriaDiv {
    text-align: center;
    background-color: #ffaa00c4;
    border-radius: 10px;
    width: 36%;
    padding: 0px 10px 20px 0px;
    margin-left: 5px;
}

.mentoriaDiv h2{
    width: 85%;
    margin: auto;
    padding: 20px 0px 20px 0px;
    text-align: justify;
}

.mentoriaDiv p{
    width: 85%;
    margin: auto;
    padding: 10px 0px 20px 0px;
    text-align: justify;
    font-size: 1.1em;
}

/* Css das parcelas para compra do produto */
.parcelasDiv {
    margin: 70px auto;
    text-align: center;
    width: 100%;
}

.parcelasDiv > h2 {
    margin: 10px;
}

.parcelasDiv > h1 {
    color: #C5A56C;
    margin-top: 5px;
    font-size: 3em;
}

.parcelasDiv > h1 > span {
    font-size: 0.6em;
    color: black;
}

.parcelasDiv > p{
    font-size: 1.5em;
    margin: 20px;
}

.parcelasDiv > button {
    margin-bottom: 60px;
}

/* Css da caixa preta pontilhada */
.caixaDiv {
    text-align: justify;
    margin: 85px auto;
    width: 85%;
    color: white;
    background-color: #313131;
    border-radius: 20px;
    padding: 40px;
    border: 2px dashed gray;
}

.caixaDiv > h2 {
    margin-bottom: 20px;
}

.caixaDiv > p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Configurando css da div assinatura */
.assinaturaDiv {
    text-align: center;
    margin: 85px auto;
    padding: 15px;
    border-top: 1px solid #00000036;
    border-bottom: 1px solid #00000036;
    width: 85%;
}

.assinaturaDiv > h1 {
    font-size: 2.5em;
    color: #BC9D65;
    word-wrap: break-word;
    text-align: center;
    width: 75%; 
    margin: 40px auto;
}

.assinaturaDiv > p {
    font-size: 1.3em;
    margin: 40px auto;
    width: 75%;
    margin-top: 20px;
}

/* CSS Perguntas frequentes */

.perguntas-frequentes{
    width: 70%;
    margin: 85px auto;
    padding: 25px;
}

.perguntas-frequentes > h1{
    text-align: center;
    margin-bottom: 50px;
}

.perguntas-frequentes-details{
    padding: 25px;
    border: 1px solid;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
}

.perguntas-frequentes-details > p{
    margin: 20px;
}

/* CSS Quem somos? */
.quemsomos-container{
    width: 90%;
    height: 80vh;
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quemsomos_img{
    width: 49%;
    height: 70vh;
    background-image: url('../icones/tiago-tessmann-foto.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.quemsomos_p{
    width: 49%;
    height: 70vh;
    padding: 10px;
    line-height: 2;
    display: grid;
    align-items: center;
    align-content: center;
}
 /* Card slider */

 .slide-container {
    display: flex;
    max-width: 1120px;
    min-height: 450px;
    width: 100%;
    padding: 40px 0;
 }

 .swiper-container {
    display: flex;
 }

 .slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
 }

 .card {
    border-radius: 25px;
    background-color: #f8f8f8;
 }

 .image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
 }

 .image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
 }

 .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #da842e;
    border-radius: 25px 25px 0 25px;
 }

 .overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #da842e;
 }

 .overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #f8f8f8;
 }

 .card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffaa00c4;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    min-height: 140px;
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #ffaa00c4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #fff;
    color: #ffaa00c4;
    border: 1px solid #ffaa00c4;
}

.swiper-navBtn {
    color: #6e93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070f4;
}

.swiper-navBtn::before, .swiper-navBtn::after {
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6393f7 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #4070f4 !important; 
}

  /* CSS footer da página */

  .footer{
    display: flex;
    background-color: #da842e;
    height: 45vh;
    margin-top: 35px;
    padding: 45px;
    color: white;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;


    transition: transform 0.5s ease-in-out;
    transform: translateY(50px);
  }

  .footer.visible {
    transform: translateY(0);
  }

  /* CSS logo */

  .logo-footer{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 33vh;
    background-image: url('../icones/logo\ branca.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* CSS Links de retorno */

  .pagina_localizacao {
    display: flex;
    width: 50%;
    height: auto;
  }

  .pagina{
    border-right: 1px solid;
    width: 50%;
    padding: 15px;
    height: auto;
  }

  .list-link{
    margin-top: 15px;
    left: 5px;
    font-size: 0.9em;
  }

  .pagina-link{
    list-style: none;
    margin-top: 15px;
  }

  .pagina-link > a{
    color: white;
    position: relative;
    text-decoration: none;
  }

  .pagina-link>a:hover{
    top: -2px;
  }

  /* CSS das redes sociais */
  .redes-sociais{
    height: auto;
    width: 20%;
    padding: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .redes-sociais > h2{
    margin-bottom: 35px;
  }

  .redes-sociais > ul{
    display: inline-flex;
    list-style: none;
  }

  .redes{
    width: 50px;
    height: auto;
    padding: 5px;
    position: relative;
  }

  .link > img{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
  }

  .redes:hover{
    top:-2px;
  }

  /* CSS botão footer */
  .btn-footer{
    margin-top: 40px;
    width: 70%;
    height: auto;
    border-radius: 25px;
    text-align: center;
  }

  .button-footer{
    width: 93%;
    height: 6vh;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: #f9d5766b;
    box-shadow: 0px 0px 1px 0px black;
    transition: .2s;
  }

  .button-footer:hover{  
    width: 98%;
    cursor: pointer;
  }

  /* .redes > a:hover{
    width: 115px;
    height: 50px;
  } */


  /* CSS localização */
  .localizacao{
    width: 50%;
    height: auto;
    padding: 15px;
    border-right: 1px solid;
  }

  .localizacao-h2{
    margin-bottom: 25px;
    display: inline-flex;
  }

  .localizacao-h2 > img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }

  .localizacao > a{
    color: white;
    text-decoration: none;
    position: relative;
    transition-delay: 0.9s;
  }

  .localizacao > a:hover{
    top: -5px;
    box-shadow: 0px 0px 2px 0px yellow;
  }

  .localizacao > a > p{
    margin: 5px;
    font-size: 1.1em;
  }

  /* CSS footer bar */
  .footer-bar{
    width: 100%;
    height: auto;
    border-top: 1px solid #f9d5766b;
    background-color: #da842e;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
  }

  /* Configurações para animação das divs */
  .animar {
    transition: transform 0.5s ease-in-out;
    transform: translateY(50px);
  }

  .animar.visible {
    transform: translateY(0);
  }

/* RESPONSIVIDADE PARA PEQUENAS TELAS */

@media (max-width: 767px) {

    .header {
        width: 100%;
        height: auto;
        background-color: white;
    }

    .header nav {
        width: 100%;
        display: flex;
        padding: 0; 
        position: fixed;
        z-index: 400;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        align-content: center;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(7px);
        z-index: 500;
        flex-wrap: wrap;
        margin-left: -100%;
    }

    .navbar-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .navbar-list li {
        margin: 25px 0;
        font-size: 1.2em;
        font-weight: bold;
    }

    .menu-hamburger {
        display: block;
    }

    .button-whatsapp-container {
        display: none;
    }

    .intro-container {
        display: grid;
        grid-template-rows: auto auto;
        width: 100%;
        margin: 0px;
        height: auto;
        padding: 10px;
        padding-bottom: 10px;
        margin-top: 75px;
    }

    .video-container {
        order: 2;
        width: 100%;
        height: 100%;
        margin: auto;
        background-image: none;
    }

    .video-container > img {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0px;
        right: 0px;
        margin: 10px 0px;
    }

    .chamada-container {
        display: flex;
        order: 1;
        width: 100%;
        height: 100%;
        margin: auto;
        padding-top: 20px;
    }

    .chamada-container > img {
        width: 100%;
    }

    .chamada-container > p {
        width: 95%;
        margin: 15px;
        font-size: 1rem;
        line-height: 1.45;
    }

    .btn {
        align-items: center;
        font-size: 0.7em;
        line-height: 1.45;
        margin: 10px 0px;
    }

    .button-landingpage {
        width: 100%;
    }

    .sistema-container {
        display: grid;
        grid-template-rows: auto auto;
        width: 100%;
        margin: 0px;
        height: auto;
        padding: 10px;
        padding-bottom: 10px;
        top: 0px;
        width: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        flex-direction: row-reverse;
        background-image: none;
    }

    .sistema-container-txt {
        order: 1;
        display: inline-block;
        width: 100%;
        height: auto;
        text-align: center;
        margin: 10px;
        padding: 0;
    }

    .pra-voce-que-deseja-list-container {
        width: 95%;
        margin: 10px 0px 0px 10px;
        padding-left: 10px;
    }

    .pra-voce-que-deseja-list-container {
        margin: 0;
    }

    .btn-contrato {
        width: auto;
        height: auto;
        margin: 10px auto;
        padding: 20px;
        border-radius: 20px;
        font-size: 1.2rem;
    }
    
    .btn-contrato:hover {
        transition: 0.5s ease-in-out;
        color: rgb(255 94 0);
        background-color: white;
    }

    .sistema-container-img {
        display: none;
        order: 2;
        width: 100%;
    }

    .sistema-container-img > img {
        width: 90%;
    }

    .solucao {
        display: grid;
        grid-template-rows: auto auto;
        width: 95%;
        height: auto;
        margin: 20px auto;
        justify-content: center;
        border-radius: 15px;
    }

    .solucao_container {
        order: 1;
        width: 100%;
        height: auto;
        margin: 10px 0px;
        flex-wrap: wrap;
    }

    .solucao_container > h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .solucao_logos {
        display: inline-block;
        margin: 10px;
        width: 40%;
    }

    .solucao_logos > p {
        font-size: 1.2rem;
    }

    .carrosel {
        order: 2;
        display: flex;
        width: 100%;
        height: auto;
        /* flex-wrap: nowrap; */
        justify-content: center;
        margin: 20px 0px;
        background-image: none;
    }

    .carrosel_container {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-content: center;
    }

    .carrosel_container > iframe{
        border-radius: 5px;
        width: 95%;
        height: 190px;
        margin: 0px;
        box-shadow: 0px 0px 0px 8px;
    }

    .sistema-funcionaparamim-container {
        display: grid;
        grid-template-rows: auto auto;
        width: 95%;
        height: auto;
        margin: auto;
    }

    .pq-sistema-funcionaparamim-container-img {
        display: none;
        order: 2;
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;  
    }

    .pq-sistema-funcionaparamim-container-img > img {
        width: 100%;
        height: auto;
    }

    .motivos-do-sistema-container {
        order: 1;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 10px;
    }

    .h1-funcionaparamim-container{
        text-align: center;
        font-size: 1rem;
        width: 100%;
        margin-bottom: 10px;
    }

    .motivos-do-sistema-container > p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        font-size: 1.2rem;
        width: 100%;
        top: 0px;
        margin: 10px 0px;
        position: initial;
    }

    .cards-motivos-do-sistema {
        display: flex;
        width: 100%;
        height: auto;
        line-height: 1.2;
        margin: 20px 0px;
        position: initial;
    }

    .cards-motivos-do-sistema > img {
        width: 10%;
        height: 90%;
    }

    .cards-motivos-do-sistema > p {
        width: 85%;
        font-size: 1rem;
        margin-left: 10px;
        text-align: justify;
        font-size: 1rem;
        left: 0px;
        top: 5px;  
    }

    .cards-convencimento-container {
        width: 95%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        position: initial;
    }

    .cards-container {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        margin: 20px 10px 30px 10px;
    }

    .cards-container > img {
        display: flex;
        width: 10%;
        height: auto;
        margin: auto;
    }

    .cards-container > h3 {
        display: flex;
        width: 85%;
        position: initial;
        top: 0;
        left: 0;
        text-align: center;
        margin: auto;
    }

    .cards-container > p {
        font-size: 1rem;
        position: relative;
        text-align: justify;
        left: 0px;
        width: 100%;
        bottom: 0px;
        line-height: 1.2;
        margin-top: 20px;
    }

    .vantagens-cliente-container {
        display: block;
        width: 100%;
        margin: 10px auto;
        padding: 0;
    }

    .h1-vantagens-cliente-container {
        width: 93%;
        margin-bottom: 20px;
    }

    .h1-vantagens-cliente-container > h1 {
        font-size: 1.4rem;
        width: 100%;
        margin-bottom: 10px;
    }

    .cards-container-servicos {
        width: 95%;
        height: auto;
        margin: 10px auto;
        padding: 0;
    }

    .cards-container-servicos > img {
        margin-top: 10px;
    }

    .cards-container-servicos > h3 {
        font-size: 1.4rem;
    }

    .pra-voce-que-deseja-list-container {
        width: 100%;
        height: auto;
        justify-content: center;
        align-content: center;
        margin: 0;
    }

    .pra-voce-que-deseja-item-container {
        width: 100%;
        height: auto;
    }

    .btn-contrato{
        width: auto;
        height: auto;
        font-size: 1rem;
    }

    .item {
        width: 80%;
        justify-content: center;
        align-content: center;
        margin-left: 40px;

        bottom: 0px;
        line-height: 1.4;
        position: initial;
    }

    .eventoDiv {
        display: grid;
        grid-template-rows: auto auto;
        width: 95%;
        height: auto;
        margin: 25px auto;
    }

    .mentoriaDiv {
        order: 1;
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    .mentoriaDiv > h2 {
        width: 95%;
        font-size: 1.3rem;
        text-align: center;
    }

    .mentoriaDiv > p {
        width: 90%;
        height: auto;
        font-size: 1.1rem;
        padding: 10px;
        margin: auto;
    }

    .iframeDiv {
        order: 2;
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    .iframeDiv h3 {
        font-size: 1rem;
    }

    .video {
        width: 100%;
        height: auto;
    }

    .perguntas-frequentes {
        width: 95%;
        margin: 30px auto;
        padding: 0;
    }

    .perguntas-frequentes > h1 {
        width: 100%;
        font-size: 1.5rem;
        margin-bottom: 0;
        margin: 10px 0;
    }

    .perguntas-frequentes-details {
        display: flex;
        width: 100%;
        height: auto;
        margin: 10px 0px;
        justify-content: center;
        align-items: center;
    }

    .perguntas-frequentes-details > p {
        text-align: justify;
        margin: 10px 0px;
    }

    .slide-container {
        padding: 20px 0;
        max-width: 300px !important;
        min-height: 320px !important;
    }
    
    .slide-content {
        margin: 0 10px;
    }
    
    .image-content,
    .card-content {
        padding: 5px;
    }
    
    .card-image {
        height: 100px;
        width: 100px;
    }
    
    .card-image .card-img {
        border-width: 3px;
    }
    
    .name {
        font-size: 16px;
    }
    
    .description {
        min-height: 150px;
        font-size: 0.8rem;
        padding: 15px 5px 10px;
    }

    .swiper-pagination {
        height: auto;
    }
    
    .swiper-pagination-bullet {
        margin: auto;
    }
        
        
    /* .slide-container {
        display: flex !important;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        max-width: 320px;
        min-height: 450px;
        margin: 0 !important;
    }

    .slide-content {
        width: 100%;
        margin: 0;
    }

    .card {
        display: flex;
        width: 100%;
    } */
    

    /* 

    .card-wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 80% !important;
        background-color: #000;
    } */

    .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }
    
    .footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-top: 0;
        margin: auto;
        padding: 0px;
        align-items: flex-start;
        font-size: 1rem;
        /* justify-content: flex-start; */
    }

    .logo-footer {
        width: 30px;
        height: 30px;
    }

    .pagina_localizacao {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 10px;
        justify-content: center;
        align-items: flex-start;
    }

    .pagina {
        width: 50%;
        height: auto;
        padding: 5px 0px 0px 10px;
    }

    .pagina-h2 {
        font-size: 0.7rem;
    }

    .list-link {
        font-size: 0.6rem;
        margin-top: 5px;
    }

    .pagina-link{
        margin-top: 5px;
        left: 5px;
        }

    .localizacao {
        width: 50%;
        height: auto;
        border: none;
        margin: 0px;
        padding: 0px 0px 0px 15px;
    }

    .localizacao-h2 {
        font-size: 0.6rem;
        margin-bottom: 0px;
    }
    .localizacao > a {
        font-size: 0.6rem;
    }

    .redes-sociais {
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
    }

    .redes-sociais > h2 {
        font-size: 0.9rem;
        margin-bottom: 0px;
    }

    .localizacao > a {
        font-size: 0.5rem;
    }

    .redes-sociais > ul {
        width: 100%;
        height: auto;
    }

    .redes {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
        padding: 0;
    }
    .redes > a {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .link img {
        width: 40%;
        height: 30%;
        }

    .btn-footer {
        margin: 10px;
        width: 40%;
        height: auto;
    }

    .footer-bar {
        width: 100%;
        height: auto;
        font-size: 0.7rem;
    }
    
}
  
/* RESPONSIVIDADE PARA TELAS MAIORES QUE 767PX  */

@media (min-width: 768px) and (max-width: 1023px){
    .nav{
        justify-content: normal;
    }

    .button-whatsapp-container{
        margin-top: 550px;
        margin-left: 89%;
    }

    .chamada-container{
        width: 75%;
        height: 70vh;
        margin: 15px;
        line-height: 0px;
    }
    
    .chamada-container > img{
        width: 80%;
    }

    .chamada-container > p{
        font-size: 1.2em;
        line-height: 1.5;
    }

    .video-container{
        display: none;
    }

    .video-container > img{
        width: 90%;
    }

    .button-landingpage{
        width: 102%;
        height: 7vh;
    }

    .sistema-container{
        background-repeat: no-repeat;
        background-position-x: -100px;
        background-position-y: -65px;
        background-size: 45%;
        height: 73vh;
    }

    .sistema-container-txt{
        width: 55%;
    }

    .sistema-container-img > img{
        width: 85%;
    }

    .solucao{
        width: auto;
        height: 126vh;
        margin: 5px;
        padding: 15px;
    }

    .solucao_container{
        width: 52%;
    }

    .carrosel{
        width: 61%;
        background-size: 115%;
    }

    .carrosel_container > iframe{
        margin-top: 355px;
        margin-left: 56px;
        width: 78%;
        height: 33vh;
    }

   .sistema-funcionaparamim-container {
        display: flex;
        width: auto;
        height: 75vh;
        margin-top: 145px;
        margin-bottom: 50px;
        padding: 5px;
        flex-direction: row;
    }

    .pq-sistema-funcionaparamim-container {
        display: inline-flex;
        width: 50%;
        height: 60vh;
        font-size: 1.2em;
        flex-direction: column;
    }

    .pq-sistema-funcionaparamim-container-img > img{
        width: 95%;
    }

    .sistema-funcionaparamim-container > .motivos-do-sistema-container {
        display: inline-flex;
        width: 65%;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: row;
        justify-content: center;
        font-size: 0.8em;
    }

    .cards-motivos-do-sistema {
        width: 42%;
        font-size: 0.8em;
    }

    .cards-convencimento-container{
        width: auto;
        margin: auto;
        flex-direction: column-reverse;
    }

    .vantagens-cliente-container {
        width: 100%;
        height: auto;
        margin: 85px auto;
        padding: 15px;
    }

    .cards-convencimento-container > .cards-container{
        height: 35vh;
        width: auto;
        margin: 15px;
    }


    .cards-container > img {
        display: inline-flex;
        position: relative;
        right: -19px;
        top: 20px;
        width: 60px;
        height: 60px;
    }

    .cards-container > h3{
        font-size: 1.3em;
        text-align: justify;
        left: 20px;
        top: -35px;
    }
    
    .cards-container > p{
        left: 85px;
        width: 85%;
        top: -30px;
        font-size: 1.2em;
    }

    .cards-container-servicos{
        width: 44%;
        height: 120vh;
    }

    .btn-contrato{
        width: 70%;
    }

    .eventoDiv{
        width: auto;
        height: auto;
        justify-content: center;
        flex-direction: row;
        margin: 10px;
    }

    .btn{
        margin-left: -19px;
    }

    .iframeDiv{
        width: 55%;
    }

    .video{
        height: 90.5%;
    }

    .mentoriaDiv{
        width: 53%;
    }

    .slide-container{
        max-width: 940px;
    }

    .footer{
        padding: 0px;
        align-content: space-around;
    }

    .logo-footer{
        display: none;
    }

    .pagina{
        padding: 30px;
        width: 60%;
    }

    .list-link{
        font-size: 1.1em;
    }

    .localizacao{
        width: 60%;
        padding: 30px;
    }

    .localizacao > a > p{
        margin: 0px;
    }

    .redes-sociais{
        width: 30%;
    }
}

/* RESPONSIVIDADE PARA TELAS MAIORES QUE 1024PX */

@media (min-width: 1024px) and (max-width: 1439px){

    .nav{
        justify-content: normal;
    }

    .button-whatsapp-container{
        margin-top: 550px;
        margin-left: 89%;
    }

    .chamada-container{
        width: 75%;
        height: 70vh;
        margin: 15px;
        line-height: 0px;
    }
    
    .chamada-container > img{
        width: 80%;
    }

    .chamada-container > p{
        font-size: 1.2em;
        line-height: 1.5;
    }

    .video-container{
        display: none;
    }

    .video-container > img{
        width: 90%;
    }

    .button-landingpage{
        width: 102%;
        height: 7vh;
    }

    .sistema-container{
        background-repeat: no-repeat;
        background-position-x: -100px;
        background-position-y: -65px;
        background-size: 45%;
        height: 73vh;
    }

    .sistema-container-txt{
        width: 55%;
    }

    .sistema-container-img > img{
        width: 85%;
    }

    .solucao{
        width: auto;
        height: 126vh;
        margin: 5px;
        padding: 15px;
    }

    .solucao_container{
        width: 52%;
    }

    .carrosel{
        width: 61%;
        background-size: 115%;
    }

    .carrosel_container > iframe{
        margin-top: 355px;
        margin-left: 56px;
        width: 78%;
        height: 33vh;
    }

   .sistema-funcionaparamim-container {
        display: flex;
        width: auto;
        height: 75vh;
        margin-top: 145px;
        margin-bottom: 50px;
        padding: 5px;
        flex-direction: row;
    }

    .pq-sistema-funcionaparamim-container {
        display: inline-flex;
        width: 50%;
        height: 60vh;
        font-size: 1.2em;
        flex-direction: column;
    }

    .pq-sistema-funcionaparamim-container-img > img{
        width: 95%;
    }

    .sistema-funcionaparamim-container > .motivos-do-sistema-container {
        display: inline-flex;
        width: 65%;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: row;
        justify-content: center;
        font-size: 0.8em;
    }

    .cards-motivos-do-sistema {
        width: 45%;
        margin: 13px;
        font-size: 0.8em;
    }

    .cards-convencimento-container{
        width: auto;
        margin: auto;
        flex-direction: column-reverse;
    }

    .vantagens-cliente-container {
        width: 100%;
        height: auto;
        margin: 85px auto;
        padding: 15px;
    }

    .cards-convencimento-container > .cards-container{
        height: 35vh;
        width: auto;
        margin: 15px;
    }


    .cards-container > img {
        display: inline-flex;
        position: relative;
        right: -19px;
        top: 20px;
        width: 60px;
        height: 60px;
    }

    .cards-container > h3{
        font-size: 1.3em;
        text-align: justify;
        left: 20px;
        top: -35px;
    }
    
    .cards-container > p{
        left: 85px;
        width: 85%;
        top: -30px;
        font-size: 1.2em;
    }

    .cards-container-servicos{
        width: 44%;
        height: 120vh;
    }

    .btn-contrato{
        width: 70%;
    }

    .eventoDiv{
        width: auto;
        height: auto;
        justify-content: center;
        flex-direction: row;
        margin: 10px;
    }

    .btn{
        margin-left: -19px;
    }

    .iframeDiv{
        width: 55%;
    }

    .video{
        height: 90.5%;
    }

    .mentoriaDiv{
        width: 53%;
    }

    .slide-container{
        max-width: 940px;
    }

    .footer{
        padding: 0px;
        align-content: space-around;
    }

    .logo-footer{
        display: none;
    }

    .pagina{
        padding: 30px;
        width: 60%;
    }

    .list-link{
        font-size: 1.1em;
    }

    .localizacao{
        width: 60%;
        padding: 30px;
    }

    .localizacao > a > p{
        margin: 0px;
    }

    .redes-sociais{
        width: 30%;
    }

}

/* RESPONSIVIDADE PARA TELAS MAIORES QUE 1440px */

@media (min-width: 1440px) and (max-width: 1679px){
    .chamada-container{
        width: 85%;
        margin-left: 60px;
        line-height: 45px;
        margin: 20px auto;
    }

    .chamada-container > p {
        font-size: 1.5em;
    }

    .video-container{
        display: none;
    }

    .sistema-container{
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: -53px;
        background-position-x: 10px;
    }

    .sistema-container-img > img{
        width: 65%;
    }

    .button-whatsapp-container {
        width: 60px;
        height: 60px;
        margin-top: 655px;
        margin-left: 92%;
    }

    .sistema-funcionaparamim-container{
        margin-top: 180px;
        width: 95%
    }

    .pq-sistema-funcionaparamim-container {
        font-size: 1.4em;
    }

    .pq-sistema-funcionaparamim-container-img > img{
        width: 85%;
    }

    .cards-container > img {
        top: -10px;
    }

    .cards-container > h3 {
        font-size: 1.4em;
        left: 13px;
        top: -55px;
    }

    .cards-container > p{
        font-size: 1.4em;
        width: 90%;
    }

    .cards-convencimento-container{
        margin: 150px auto;;
    }

    .cards-convencimento-container > .cards-container {
        height: 35vh;
    }

    .vantagens-cliente-container{
        margin: 35px auto;
    }

    .sistema-container-txt{
        width: 45%;
    }
    
    .sistema-container-txt > p {
        font-size: 1.7em;
    }

    .solucao{
        height: 90vh;
        width: 95%;
    }

    .solucao_container{
        width: 60%;
    }

    .carrosel_container > iframe{
        margin-top: 235px;
        margin-left: 54px;
        width: 83%;
        height: 38vh;
    }

    .motivos-do-sistema-container{
        width: 65%;
    }

    .cards-motivos-do-sistema{
        width: 47%;
        top: 65px;
        margin: 10px;
    }

    .cards-motivos-do-sistema > p{
        font-size: 2em;
        top: -43px;
    }

    .cards-container-servicos{
        width: 45%;
        height: 96vh;
    }

    .btn-contrato{
        width: 50%;
    }

    .eventoDiv{
        margin: 54px;
        height: 60vh;
        font-size: 1em;
        width: 95%;
    }

    .btn{
        margin-left: -70px;
    }

    .pra-voce-que-deseja-list-container > ul, li{
        font-size: 1.3em;
    }

    .cards-container-servicos > p {
        font-size: 1.4em;
    }

    .mentoriaDiv p {
        font-size: 1.2em;
    }

    .mentoriaDiv h2 {
        font-size: 1.4em;
    }

    .parcelasDiv {
        font-size: 1.4em;
    }

    .caixaDiv {
        font-size: 1.4em;
    }

    .assinaturaDiv {
        font-size: 1.4em;
    }

    .perguntas-frequentes {
        font-size: 1.4em;
    }

    .quemsomos-container {
        font-size: 1.4em;
    }

    /*Configuração footer*/
    .footer {
        font-size: 1.3em;
    }

    .localizacao > a > p{
        font-size: 1.2em;
    }

    .link > img {
        width: 50px;
        height: 50px;
    }

    .logo-footer{
        display: none;
    }

    .pagina_localizacao{
        width: 60%;
    }
}

/* RESPONSIVIDADE PARA TELAS MAIORES QUE 1680px */

@media (min-width: 1680px) and (max-width: 1919px){

    .intro-container{
        margin: 0px;
    }
    
    .chamada-container {
        height: 70vh;
        line-height: 35px;
    }

    .chamada-container > p {
        width: auto;
        font-size: 1.2em;
    }

    .video-container{
        width: 59.8%;
        height: 79.5vh;
    }

    .button-whatsapp-container {
        margin-top: 750px;
    }

    .sistema-funcionaparamim-container{
        width: 95%;
        margin-top: 100px;
    }

    .pq-sistema-funcionaparamim-container-img > img {
        width: 65%;
    }

    .cards-motivos-do-sistema{
        margin: 20px;
    }

    .cards-motivos-do-sistema > p {
        width: 87%;
        font-size: 2.3em;
    }

    .motivos-do-sistema-container{
        width: 61%;
    }

    .sistema-container{
        background-position-x: 55px;
    }

    .sistema-container > img{
        width: 61%;
    }

    .solucao_container{
        width: 49%;
    }

    .carrosel_container{
        height: 70vh;
    }

    .carrosel_container > iframe{
        margin-top: 222px;
        margin-left: 119px;
        width: 69%;
        height: 32vh;
    }

    .cards-convencimento-container {
        text-align: inherit;
        width: 95%;
    }

    .cards-container {
        width: 42%;
    }

    .cards-container > p {
        font-size: 1.5em;
        left: 120px;
        width: 90%;
    }

    .cards-container > h3 {
        top: -60px;
        left: 35px;
        font-size: 1.5em;
    }

    .cards-container > img{
        width: 70px;
        height: 70px;
    }

    .pra-voce-que-deseja-list-container > ul, li{
        font-size: 1.29em;
    }

    .pra-voce-que-deseja-container {
        margin: auto;
    }

    .pra-voce-que-deseja-h1-container{
        font-size: 1.2em;
    }

    .btn-contrato{
        width: 53%;
    }

    .vantagens-cliente-container > .cards-container-servicos{
        width: 40%;
        margin-left: 17px;
    }

    .cards-container-servicos > p {
        top: 35px;
        line-height: 1.4;
        font-size: 1.2em;
    }

    .eventoDiv {
        width: 95%;
        height: 55vh;
    }

    .btn{
        margin-left: -60px;
    }

    .iframeDiv{
        width: 50%;
    }

    .mentoriaDiv{
        width: 50%;
    }

    .mentoriaDiv p {
        font-size: 1.5em;
    }

    .pagina-link {
        margin-top: 5px;
    }

    .footer {
        font-size: 1.5em;
    }

    .footer > .logo-footer {
        width: 21%;
        height: 35vh;
        display: flex;
    }

    .footer > .localizacao{
        width: auto;
    }

    .localizacao > a > p {
        margin: auto;
    }

    .button-footer{
        font-size: 1em;
    }

    .footer-bar{
        margin-top: 35px;
    }
}

/* REPONSIVIDADE PARA TELAS MAIORES QUE 1920px */

@media (min-width: 1920px){
    .intro-container{
        margin: 0px;
    }

    .chamada-container{
        line-height: 35px;
    }

    .chamada-container p{
        width: 100%;
        font-size: 1.4em;
    }

    .video-container{
        margin: auto;
        height: 82.5vh;
        background-position-x: 356px;
    }

    .sistema-container-img > img{
        width: 55%;
    }

    .pra-voce-que-deseja-item-container{
        font-size: 1.2em;
    }

    .solucao{
        width: 95%;
        height: 64vh;
        margin: 50px;
    }
    
    .solucao_container{
        width: 40%;
    }

    .carrosel_container > iframe{
        margin-top: 117px;
        margin-left: 157px;
        width: 68%;
        height: 42vh;
    }

    .pq-sistema-funcionaparamim-container-img > img{
        width: 70%;
    }

    .sistema-funcionaparamim-container{
        width: 87%;
        height: 55vh;
        margin: 200px auto;
    }

    .sistema-funcionaparamim-container > .motivos-do-sistema-container{
        justify-content: flex-start;
        width: 55%;
    }

    .cards-convencimento-container{
        width: 90%;
    }

    .cards-container{
        width: 50%;
    }

    .cards-container > p{
        width: 80%;
    }

    .cards-container > h3{
        font-size: 1.5em;
    }

    .cards-container > p{
        font-size: 1.4em;
    }

    .motivos-do-sistema-container > p{
        width: 95%;
    }

    .iframeDiv{
        width: 50%;
    }

    .mentoriaDiv{
        width: 50%;
        line-height: 40px;
    }

    .mentoriaDiv h2{
        font-size: 1.7em;
    }

    .mentoriaDiv p{
        font-size: 1.6em;
    }

    .btn{
        margin-left: -70px;
    }

    .perguntas-frequentes{
        width: 57%;
    }

    .list-link{
        font-size: 1.4em;
    }

    .localizacao > a > p{
        font-size: 1.5em;
    }

    .redes-sociais{
        width: 22%;
    }

    .button-footer{
        font-size: 1.5rem;
    }

}
  